<?xml version="1.0"?>
<log4net>
  <appender name="NetFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=" D:\\LogsApp\\PortalMQDI\\WebService_Logs.log" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="25" />
    <maximumFileSize value="8MB" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="[%d][%t] %-5p [%C.%M] - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="NetFileAppender" />
  </root>
</log4net>